{% load static %}

<!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js'%}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/pcoded.min.js'%}"></script>

<!-- jQuery UI -->
<script src="{% static 'assets/plugins/jquery-ui/js/jquery-ui.js'%}"></script>
<!-- Moment JS -->
<script src="{% static '/assets/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/assets/plugins/moment/moment-with-locales.js' %}"></script>

<!-- Datatables -->
<script src="{% static '/assets/plugins/datatables/datatables.min.js' %}"></script>


<!-- DateTimePicker -->
<script src="{% static '/assets/plugins/datepicker/bootstrap-datetimepicker.min.js' %}"></script>


<!-- Select2 -->
<script src="{% static '/assets/js/select2.min.js' %}"></script>
<script src="{% static '/assets/plugins/pnotify/PNotify.js' %}"></script>
<script src="{% static '/assets/plugins/pnotify/PNotifyBootstrap4.js' %}"></script>

<script src="{% url 'javascript-catalog' %}"></script>
